<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Motion</title>
    <!-- <script src="./srcipt.js"></script> -->
</head>
<body onload="sendData()">
    <h1>Device Motion:</h1>
    <h2 id="status"></h2>
    <h2 id="x"></h2>
    <h2 id="y"></h2>
    <h2 id="z"></h2>
    <h2 id="alpha"></h2>
    <h2 id="beta"></h2>
    <h2 id="gamma"></h2>
    <p id="resp"></p>
</body>
<script>
    function sendData() { 
        var aX=0;
        var aY=0;
        var aZ=0;

        if (window.DeviceMotionEvent == undefined) {
            //No accelerometer is present. Use buttons. 
            document.getElementById("status").innerHTML = "Accelerometer not detected";
        }
        else {
            document.getElementById("status").innerHTML = "Accelerometer detected";
            window.addEventListener("devicemotion", accelerometerUpdate, true);
        }
        
        function accelerometerUpdate(e) {
            aX = e.accelerationIncludingGravity.x*1;
            aY = e.accelerationIncludingGravity.y*1;
            aZ = e.accelerationIncludingGravity.z*1-9.8;
            //The following two lines are just to calculate a
            // tilt. Not really needed. 
            xPosition = Math.atan2(aY, aZ);
            yPosition = Math.atan2(aX, aZ);
        
            document.getElementById("x").innerHTML = aX.toFixed(1);
            document.getElementById("y").innerHTML = aY.toFixed(1);
            document.getElementById("z").innerHTML = aZ.toFixed(1);

            data = {'x' : aX.toFixed(1), 'y' : aY.toFixed(1), 'z' : aZ.toFixed(1)};

            fetch('/process-data', { 
                method: 'POST', 
                headers: { 
                'Content-Type': 'application/json'
                }, 
                body: JSON.stringify({data: data}) 
            }) 
            .then(response => response.text()) 
            .then(result => { 
                // console.log(result); 
            }) 
            .catch(error => { 
                console.error('Error:', error); 
            });
                    
        }



        window.setInterval(sendData,1000);

    }

</script>
</html>